*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.main-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.score-board{
    width: 700px;   
}
.scoresButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 6px;
}
button{
    width: 15vw;
    height: 5vh;
    border: none;
    border-radius: 25px;
    background-color: yellowgreen;
}
button:hover{
    cursor: pointer;
    background-color: rgba(153, 205, 50, 0.87);
}
.color-chooser {
    width: 700px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    align-items: center;
    font-size: 40px;
}
.game-board {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    grid-template-rows: repeat(6, 1fr);
    margin-top: .75%;
    width: 700px;
    height: 600px;
}
.slot-square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 1px solid blue;
}
.slot-square:hover {
    cursor: pointer;
}
.slot-circle {
    width: 80%;
    height: 80%;
    border-radius:50% ;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coin {
    border-radius: 50%;
    width: 80%;
    height: 80%;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}

.player-turn {
    width: 25vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.result-container {
    width: 25vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}